$gap: 10px;

.category-list {
  display: flex;
  flex-flow: row wrap;
  gap: $gap;
}

.category-list {
  display: flex;
  flex-flow: row wrap;
  gap: $gap;
  margin: 1em 0;
  justify-content: center;
}

.category-list__item {
  flex-grow: 1;
  flex-basis: calc(50% - #{$gap / 2});
  padding: 20px;
  display: block;
  min-height: 50px;
  line-height: 50px;

  box-sizing: border-box;
  font-size: 1.5em;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.15);
  transition: background-color 0.2s;
  background-color: yellowgreen;
  &:hover { background-color: limegreen; }
  &:active { transform: translate(1px, 1px); }
}
a.category-list__item { color: white }

.category-list__item_projects {
  background-color: cornflowerblue;
  &:hover { background-color: royalblue; }
}
