---
import BaseLayout from '$/components/BaseLayout.astro';

import { Breadcrumbs, BreadcrumbsLink } from "$/components/Breadcrumbs";

import ArticleList from "$/components/ArticleList.astro";

const articles = Astro.fetchContent('$/pages/electronics/*.md');
---
<BaseLayout title="Электроника">
  <h2>Электроника</h2>

  <Breadcrumbs current="Электроника">
    <BreadcrumbsLink to="/">Главная страница</BreadcrumbsLink>
  </Breadcrumbs>

  <p>Различные заметки по электронике</p>

  <ArticleList articles={articles} />
</BaseLayout>