{% extends "_base.njk" %}

{% set title = "Разнообразные заметки" %}

{% block content %}
<h1 class="title">
  Олдскульная домашняя страничка.
</h1>

<p>Всем привет!</p>
<p>Это старомодная личная страница, на которой я выкладываю заметки по интересующим меня вопросам:
столярке, программированию, электронике, кулинарии.</p>
<p> Это мои личные заметки, но если хотите -- читайте. </p>

<nav class="category-list">
  <a class="category-list__item" href="/woodworking">Столярное дело и DYI</a>
  <a class="category-list__item" href="/programming">Программирование</a>
  <a class="category-list__item" href="/electronics">Электроника</a>
  <a class="category-list__item" href="/cookery">Кулинария</a>
</nav>

Ну а если вы попали сюда случайно, то лучше посмотрите мои другие проекты.

<nav class="category-list">
  <a class="category-list__item category-list__item_projects" href="https://pressure.religiosa.ru/">
    Онлайн-барометр
  </a>
</nav>


{% endblock content %}