---
import type { MarkdownArticleMatter } from "$/models/MarkdownArticleMatter";
import BaseLayout from '$/components/BaseLayout.astro';

import { Breadcrumbs, BreadcrumbsLink } from "$/components/Breadcrumbs";

import ArticleList from "$/components/ArticleList.astro";

const articles = (await Astro.glob<MarkdownArticleMatter>('./*.md')).map((i) => ({
  title: i.frontmatter.title,
  url: i.url!,
}));
---
<BaseLayout title="Программирование">
  <h2>Программирование</h2>

  <Breadcrumbs current="Программирование">
    <BreadcrumbsLink to="/">Главная страница</BreadcrumbsLink>
  </Breadcrumbs>

  <p>
    Это в основном дико устаревшие заметки про программированию, которые я оставил для истории ну
    или для редких случаев, когда приходится заниматься палеонтологией.
  </p>

  <ArticleList articles={articles} />
</BaseLayout>