---
import { getCollection } from "astro:content";
import BaseLayout from "$/components/BaseLayout.astro";
import { Breadcrumbs, BreadcrumbsLink } from "$/components/Breadcrumbs";
import ArticleList from "$/components/ArticleList.astro";

const articles = await getCollection("programming");
---
<BaseLayout title="Программирование">
  <h2>Программирование</h2>

  <Breadcrumbs current="Программирование">
    <BreadcrumbsLink to="/">Главная страница</BreadcrumbsLink>
  </Breadcrumbs>

  <p>
    Это дико устаревшие заметки про программированию, которые я оставил для истории и
    ностальгии или для редких случаев, когда приходится заниматься палеонтологией.
  </p>

  <ArticleList articles={articles} />
</BaseLayout>