---
import { getCollection } from "astro:content";
import BaseLayout from "~/components/BaseLayout.astro";
import { Breadcrumbs, BreadcrumbsLink } from "~/components/Breadcrumbs";
import ArticleList from "~/components/ArticleList.astro";

const articles = await getCollection("woodworking");
---
<BaseLayout title="Столярка">
	<h2>Столярка</h2>

	<Breadcrumbs current="Столярка">
		<BreadcrumbsLink to="/">Главная страница</BreadcrumbsLink>
	</Breadcrumbs>

	<p>Различные заметки по столярке</p>

	<ArticleList articles={articles} />
</BaseLayout>