---
import BaseLayout from '$/components/BaseLayout.astro';

import { Breadcrumbs, BreadcrumbsLink } from "$/components/Breadcrumbs";
import { getCollection } from 'astro:content';
import ArticleList from "$/components/ArticleList.astro";

const articles = (await getCollection("recepies")).map((i) => ({
  title: i.data.title,
  url: `./${i.slug}`
}))
---
<BaseLayout title="Кулинарные рецепты">
  <h2>Кулинарные рецепты</h2>

  <Breadcrumbs current="Кулинарные рецепты">
    <BreadcrumbsLink to="/">Главная страница</BreadcrumbsLink>
  </Breadcrumbs>

  <p>Здесь собраны всякие разные кулинарные рецепты, которые мне понравились и которые я потом готовил.</p>

  <ArticleList articles={articles} />
</BaseLayout>