---
  import type { MarkdownInstance } from "astro";
  import type { MarkdownArticleMatter } from "$/models/MarkdownArticleMatter";

  export interface Props {
    articles: MarkdownInstance<MarkdownArticleMatter>[];
    basepath?: string;
    slug?: boolean;
  }

  const {
    articles,
    basepath="./",
    slug,
  } = Astro.props as Props;
---
<nav class="articles-list">
  {articles.map(async (article) => {
    const url = slug && article.frontmatter.slug ?
      basepath + article.frontmatter.slug :
      article.url;
    return (
      <a href={url} class="articles-list__link">
        {article.frontmatter.title}
      </a>
    )
  })}
</nav>

<style>
  .articles-list {
    display: block;
    margin: 1rem 0;
  }

  .articles-list__link {
    display: block;
    margin: max(12px, 0.5rem) 0;
  }
</style>