{% extends "_base.njk" %}

{% block content %}
<nav class="breadcrumbs">
  <a class="breadcrumbs__link" href="/">Главная</a>
  <a class="breadcrumbs__link" href="{{ parent.url }}">{{ parent.name }}</a>
  <span class="breadcrumbs__link breadcrumbs__link_current">{{ title }}</span>
</nav>

<h2 class="title">{{ title }}</h2>

{% if TOC %}
  {{ content | toc }}
{% endif %}

<article class="content">
  {{ content | safe }}
</article>
{% endblock content %}