{% extends "_base.njk" %}

{% block content %}
<nav class="breacrumbs">
  <a class="breacrumbs__link" href="/">Главная</a>
  <a class="breacrumbs__link" href="{{parent.url}}">{{parent.name}}</a>
</nav>

<h2 class="title">{{ title }}</h2>
{% if originalTitle %}
  <small class="subtitle">{{ originalTitle }}</small>
{% endif %}

{% if content %}
<article class="content recipe">
  <section class="recipe__summary">
    <h3 class="recipe__section-header">Вкратце</h3>
    <dl class="recipe-summary">

      <dt class="recipe-summary__term">Время ожидания</dt>
      <dd class="recipe-summary__data">{{ waiting }}</dd>

      <dt class="recipe-summary__term">Активное время</dt>
      <dd class="recipe-summary__data">TODO + фильтры</dd>

      <dt class="recipe-summary__term">Общее время</dt>
      <dd class="recipe-summary__data">{{ time }}</dd>
  </section>
  <section class="recipe__ingredients">
    <h3 class="recipe__section-header">Ингредиенты</h3>
    <ul class="ingredients-list">
    {% for item in ingredients %}
      <li class="ingredient-list__item">
        <span class="ingredients-list__name">{{ item.name }}</span>
        <span class="ingredients-list__quant">{{ item.quant }}</span>
        <span class="ingredients-list__unit">{{ item.unit }}</span>
        <span class="ingredients-list__alt">{{ item.alt }}</span>
        <span class="ingredients-list__desc">{{ item.desc }}</span>
      </li>
    {% endfor %}
    </ul>
  </section>

  <section class="recipe__steps">
    <h3 class="recipe__section-header">Рецепт</h3>
    {{ content | safe }}
  </section>

  {% if sources %}
  <section class="recipe__sources">
    <h3 class="recipe__section-header">Источники</h3>
    {% for source in sources %}
    <a href="{{source}}">{{source}}</a>
    {% endfor %}
  {% endif %}
</article>
{% endif %}

{% endblock content %}